<h1>Users#index</h1>

<table class="dtt table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Current Pay Rate</th>
      <th>Rate Since</th>
      <th>Authorized</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.current_pay_rate %></td>
        <td><%= user.rate_since %></td>
        <td><%= user.authorize %></td>
        <td><%= link_to 'Show', organization_user_path( @organization )%></td>
        <td><%= link_to 'Edit', edit_organization_user_path(@organization, user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>