
  <table class="dtt table-striped">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Problem description</th>
      <th>Item condition</th>
      <th>Repair description</th>
      <th>Charge note</th>
      <th>Data saving</th>
      <th>Total charge</th>
      <th>User</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.item_name %></td>
        <td><%= repair.problem_description %></td>
        <td><%= repair.item_condition %></td>
        <td><%= repair.repair_description %></td>
        <td><%= repair.charge_note %></td>
        <td><%= repair.data_saving %></td>
        <td><%= repair.total_charge %></td>
        <td><%= repair.user.name %></td>
        <td><%= repair.customer.name %></td>
        <td><%= link_to 'Show', customer_repair_path(repair.customer, repair) , class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_customer_repair_path(repair.customer, repair), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', customer_repair_path(repair.customer,repair), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
  </table>

  <br>