<table class="dtt table-striped">
  <thead>
    <tr>
      <th>Item sold</th>
      <th>Item price</th>
      <th>Note</th>
      <th>Date of sale</th>
      <th>User</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.item_sold %></td>
        <td><%= sale.item_price %></td>
        <td><%= sale.note %></td>
        <td><%= sale.date_of_sale %></td>
        <td><%= sale.user.name %></td>
        <td><%= sale.customer.name %></td>
        <td><%= link_to 'Show', customer_sale_path(sale.customer, sale), class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_customer_sale_path(sale.customer, sale), class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', customer_sale_path(sale.customer,sale), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>