<p id="notice"><%= notice %></p>

<h1><%=@customer.name%></h1>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Total purchase:</strong>
  <%= @customer.total_purchase %>
</p>

<p>
  <strong>Total repair:</strong>
  <%= @customer.total_repair %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @customer.organization.name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-success" %> |
<%= link_to 'Back', customers_path, class: "btn btn-secondary" %>
