<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table class="dtt table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Authorize</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
            <td><%= organization.name %></td>
            <td><%= organization.owner %></td>
            <td><%= organization.contact %></td>
            <td><%= organization.address %></td>
            <td><%= organization.authorize %></td>
            <td><%= link_to 'Show', organization %></td>
            <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
            <td><%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
       <%end%>
    </tbody>
</table>


<br>

<%= link_to 'New Organization', new_organization_path, class: "btn btn-primary"%>
