<p id="notice"><%= notice %></p>
<h1>
  <%="#{@customer.capitalize_name}'s Repair"%>
</h1>
<p>
  <strong>Item name:</strong>
  <%= @repair.item_name %>
</p>

<p>
  <strong>Problem description:</strong>
  <%= @repair.problem_description %>
</p>

<p>
  <strong>Item condition:</strong>
  <%= @repair.item_condition %>
</p>

<p>
  <strong>Repair description:</strong>
  <%= @repair.repair_description %>
</p>

<p>
  <strong>Charge note:</strong>
  <%= @repair.charge_note %>
</p>

<p>
  <strong>Data saving:</strong>
  <%= @repair.data_saving %>
</p>

<p>
  <strong>Total charge:</strong>
  <%= @repair.total_charge %>
</p>

<%= link_to 'Edit', edit_customer_repair_path(@customer, @repair), class: "btn btn-success" %> 
<%= link_to 'Back', customer_repairs_path(@customer), class: "btn btn-secondary" %>
