
<%= simple_form_for [current_user, @attendance] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date, as: :date %>
    <%= f.input :check_in %>
    <%= f.input :check_out%>
    <%= f.association :user, collection: @users %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
