<p id="notice"><%= notice %></p>

<h1>
  <%="#{current_user.name.capitalize}'s Attendances"%>
</h1>

<table class="dtt table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Hourly pay</th>
      <th>Total pay</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.date %></td>
        <td><%= to_date_time(attendance.check_in)%></td>
        <td><%= to_date_time(attendance.check_out)%></td>
        <td><%= attendance.hourly_pay %></td>
        <td><%= attendance.total_pay %></td>
        <td><%= attendance.user.name %></td>
        <td><%= link_to 'Show', user_attendance_path(current_user,attendance), class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_user_attendance_path(current_user, attendance), class: "btn btn-success"  %></td>
        <td><%= link_to 'Delete', user_attendance_path(current_user,attendance), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_user_attendance_path(current_user), class: "btn btn-primary" %>
