<p id="notice"><%= notice %></p>

<p>
  <strong>Item sold:</strong>
  <%= @sale.item_sold %>
</p>

<p>
  <strong>Item price:</strong>
  <%= @sale.item_price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @sale.note %>
</p>

<p>
  <strong>Date of sale:</strong>
  <%= @sale.date_of_sale %>
</p>

<p>
  <strong>User:</strong>
  <%= @sale.user %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<%= link_to 'Edit', edit_customer_sale_path @customer, @sale %> |
<%= link_to 'Back', customer_sales_path @customer %>
