<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><%=user_signed_in? ? current_user.organization.capitalize_name : "BizzHance"%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if user_signed_in?%>
        <li class="nav-item active">
          <%= link_to "Home", organization_path(current_user.organization), class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Customers", customers_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Repairs", repairs_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sales", sales_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Attendances", user_attendances_path(current_user), class: "nav-link" %>
        </li>
      <% end %>
      
    </ul>
    <ul class="navbar-nav ml-md-auto">
      <%unless user_signed_in?%>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <%else%>
        <li class="nav-item">
          <a class="navbar-brand" href="#"><%= "Welcome #{current_user.capitalize_name}"%></a>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <%end%>
    </ul>
  </div>
</nav>